.visualization-control-columns {
    margin:0px!important;
}

.visualization-control-tile {
    padding: 0px!important;
    margin-bottom: 0px!important;
    height: 30px;
    background:white;
}

.chart-tile {
    padding:0px;
    margin:0px;
    height: 175px;
    background:white;
}

.chart-parent {
    padding: 0px;
}
